PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ridewave
DB_ADMIN_DB=postgres
JWT_SECRET=change_me_super_secret
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
PGADMIN_EMAIL=admin@ridewave.com
PGADMIN_PASSWORD=admin123
